/* DropdownButton.css */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .dropdown-options a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .dropdown-options a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown.open .dropdown-options {
    display: block;
  }

  .burger-icon {
    /* Your existing styles for the burger icon */
  
    /* Hide the burger icon when the screen is wider than 600px */
    border: 1px solid white !important;
    display: block;
  }
  
  @media (min-width: 600px) {
    .burger-icon {
      display: none;
    }
  }
  