.goBackButton {
    // margin-top: 20px;
    margin: 15px;
    position: relative;
  }
  
  .goBackButton a {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    // border: 1px solid rgb(229, 235, 241);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    background: rgb(100, 142, 194);
    z-index: 50;
  }
  
  .goBackButton a:hover {
    background-color: black;
    color: #fff;
  }