.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center; // Center items vertically

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  z-index: 1000; /* Ensure it's above other content */
}

body {
  margin-top: 60px !important; /* Adjust the value based on your navbar height */
}

.navList {
  list-style-type: none;
  display: flex;
}

.navItem {
  display: flex;

}

@media screen and (max-width: 600px) {
  .navItem {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.navLink {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.navLink:hover {
  background-color: #555;
}

.sidebarToggle {
  display: none; // Hide the button by default
  font-size: 15px;
  padding: 5px;
  // min-height: 38px;  
  height: 38px;
  width: 38px;
  justify-content: center;
  // font-size: larger;
  font-size: 1.8rem;
 border: 1px solid white ; 

  @media (max-width: 600px) {
    // display: block; // Show the button only when screen width is less than or equal to 600px
    display: flex;
    align-items: center;
  }
}

.logoMobile {
  display: none; // Hide the button by default
  font-size: 15px;
  padding: 5px;
  min-height: 38px;

  @media (max-width: 600px) {
    display: block; // Show the button only when screen width is less than or equal to 600px
  }
}

.menu1 {
  display: flex; // Hide the button by default

  @media (max-width: 600px) {
    display: none; // Show the button only when screen width is less than or equal to 600px
  }
}

// ### React-Select

.select {
  width: 200px;
  margin-left: auto;
  /* Push the select to the right */
  color: black;
}

@media screen and (max-width: 600px) {
  .select {
    display: none;
  }
}

/* Style the dropdown indicator */
.select__indicator {
  color: #333;
}

/* Style the dropdown menu */
.select__menu {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the dropdown option */
.select__option {
  padding: 10px;
  cursor: pointer;
}

/* Style the selected option */
.select__option--is-selected {
  // background-color: #007bff;
  // color: white;
  color: red !important;
}

// ###

.header {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
}

.logo {
  display: flex;
  margin-right: 15px;
}

.active {
  color: white; // White color for active link
}