/* sidebar.scss */

.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease-in-out;
  z-index: 500 !important;
  border: 0.5px solid lightgray;
}

.open {
  left: 0;
}

.sidebarToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  z-index: 100;
  padding: 5px;
  align-items: center;
  display: flex;
  font-size: xx-large;
}

.nav {
  margin-top: 120px;
  background: white;
  height: 67.9%;
}

.navLinks {
  padding: 20px;
  text-align: center;
  margin-top: 70px;
  font-size: 1.3rem;
  display: grid;
  margin-bottom: 15px !important;
}

.navLink {
  margin-bottom: 20px;

  &.active {
    color: #333A73; /* Menu item color */
    // font-weight: bold;
    background: aliceblue;
  }
}

.submenu {
  display: grid;
}

.submenuLink {
  cursor: pointer;
  padding: 10px;
  text-decoration: none;

  &.active {
    color: #387ADF; /* Submenu item color */
    font-weight: bold;
  }
}

a {
  color: black !important;
}
