/* sidebar.scss */

.sidebar {
  position: fixed;
  top: 0;
  left: -60%;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease-in-out;
  z-index: 500 !important;
  border: 0.5px solid lightgray;
  width: 60%;
  // margin-top: 120px;
}

.open {
  left: 0;
}

.sidebarToggle {
  // position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  // font-size: 24px;
  color: #fff;
  z-index: 100;
  padding: 5px;
  align-items: center;
  display: flex;
  font-size: xx-large;
  // display: none;
  background-color: #333;
  height: 119px;
  display: flex;
  justify-content: center;
}

.nav {
  // margin-top: 120px;
  background: white;
  height: 100%;
  // height: 67.9%;
}

.navLinks {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.3rem;
  display: grid;
  margin-bottom: 15px !important;
}

.navLink {
  margin-bottom: 20px;

  &.active {
    color: #333A73; /* Menu item color */
    // font-weight: bold;
    background: aliceblue;
  }
}

.submenu {
  display: grid;
}

.submenuLink {
  cursor: pointer;
  padding: 10px;
  text-decoration: none;

  &.active {
    color: #387ADF; /* Submenu item color */
    font-weight: bold;
  }
}

a {
  color: black !important;
  margin: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: -40%; /* Initially positioned off-screen to the right */
  width: 40%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
  z-index: 499; /* Below the sidebar */
  transition: right 0.3s ease-in-out; /* Use right instead of right */
  opacity: 0; /* Initially fully transparent */
  visibility: hidden; /* Initially hidden */
}

.open .overlay {
  right: 0; /* Move the overlay to the right edge when the sidebar is open */
  opacity: 1; /* Make the overlay fully opaque */
  visibility: visible; /* Make the overlay visible */
}
