/* sidebar.module.scss */

.sidebar {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 500 !important;
  }
  
  .open {
    left: 0;
  }
  
  .sidebarToggle {
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    z-index: 100;
    
  }
  
  .nav {
    margin-top: 60px;
    background: white;
  }
  
  .navList {
    list-style: none;
    padding: 0;
  }
  
  .navList li {
    margin-bottom: 10px;
  }
  
  .navList li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navList li a:hover {
    background-color: #555;
  }

  .navLinks{
    // margin: 15px;
    // margin-top: 50px !important;
    padding: 20px;
    text-align: center;
    margin-top: 70px;
    border: 1px solid #dae3e5;
  }

  .navLinksStyle{
    margin-top: 20px;
    
  }
  