/* dashboard.module.scss */

.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .dashboard-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .dashboard-content {
    margin-top: 20px;
  }
  
  .dashboard-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .goBackButton {
    // margin-top: 20px;
    margin: 15px;
    position: relative;
  }
  
  .goBackButton a {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    // border: 1px solid rgb(229, 235, 241);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    background: rgb(100, 142, 194);
  }
  
  .goBackButton a:hover {
    background-color: black;
    color: #fff;
  }
  