/* styles/home.module.scss */

.postsContainer {
    // max-width: 800px;
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .new-post {
    margin-bottom: 20px;
  }
  
  .new-post h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .posts {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .posts h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .post-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .post-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .post-card p {
    color: #666;
  }
  