// skyscraperStyles.scss
.skyscraper {
  margin-top: 60px !important;
  width: 160px;
  height: 600px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 5px;
  transition: opacity 0.3s ease; /* Add transition for smooth hiding */

  .skyscraper-content {
    text-align: center;
    padding: 20px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      max-height: 200px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      margin-bottom: 15px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  @media (max-width: 840px) {
    display: none; /* Initial hide for smaller screens */
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
