.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

//   .filter-section {
//     margin-bottom: 10px;
//   }


.filter-section {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    label {
        margin-right: 10px;
        font-size: 16px;
    }

    select {
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.event-list {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;

    .event-card {
        display: flex;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        // width: 100%;
        height: 130px;
        /* Set the height to 250px */
        align-items: center;

        .event-image {
            width: 45%;
            height: auto;
            border-radius: 4px;
            margin-right: 10px;
        }

        .event-details {
            color: #333;
            width: 50%;
        }

        @media (min-width: 360px) {
            .event-image {
                height: 90%;
            }
        }

        @media (min-width: 600px) {
            .event-image {
                height: 80%;
            }
        }

        @media (min-width: 768px) {
            .event-image {
                height: 90%;
            }
        }

        @media (min-width: 1200px) {
            .event-image {
                height: 100%;
            }
        }
    }

    @media (min-width: 360px) {
        .event-card {
            width: 95%;
        }
    }

    @media (min-width: 600px) {
        .event-card {
            width: 60%;
            margin: auto;
        }
    }

    @media (min-width: 768px) {
        .event-card {
            width: 60%;
            margin: auto;
        }
    }

    @media (min-width: 1200px) {
        .event-card {
            width: 60%;
            margin: auto;
        }
    }

}