/* footer.module.scss */

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
  }
  
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialLinks {
    margin-bottom: 1rem;
  }
  
  .socialIcon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  .socialIcon:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  .copyRight {
    font-size: 0.9rem;
  }
  