/* styles/login.module.scss */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    // padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0058c5;
  }
  
  .goBackButton {
    // margin-top: 20px;
    margin: 15px;
  }
  
  .goBackButton a {
    text-decoration: none !important;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    // border: 1px solid rgb(229, 235, 241);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    background: rgb(100, 142, 194);
  }
  
  .goBackButton a:hover {
    background-color: black;
    color: #fff;
  }

  .form{
    padding: 20px;
  }
  