// // main.module.scss
body {
  margin: 0px !important;
}

/* Global typography */
body {
  // font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

/* Links */
a {
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/* Container */
// .container {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 1rem;
//   width: 70% !important;
// }